<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://plugin.powerschool.pearson.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd" name="SER - Better Dependent Sections" version="1.0.3" description="A better way to enter dependent sections">
  <access_request>
    <cdn_request>
      <cdn name="https://cdn.jsdelivr.net"/>
    </cdn_request>
  </access_request>
  <publisher name="Steven Riehl">
    <contact email="riehls@billingsschools.org"/>
  </publisher>
</plugin>